<%- contentFor('content') %>

<% if (msg_success != '') { %>
<div class="msg_success">
    <h2><%- msg_success %></h2>
</div>
<% } %>

<div class="d-flex justify-content-center mt-5">
    <div class="d-inline-block border p-5">
        <h1 class="text-center text-uppercase text-primary">Login</h1>
        <form action="/admins/login" method="POST" onsubmit="return validForm()">
            <div>
                <label for="email">Email:</label><span class="text-danger" data-err="email"></span>
                <input data-err-bg="email" type="text" name="email" id="email" placeholder="Enter your email!">
            </div>
            <div>
                <label for="password">Password:</label><span class="text-danger" data-err="password"></span>
                <input data-err-bg="password" type="password" name="password" id="password"
                    placeholder="Create password!">
            </div>
            <br>
            <input class="btn btn-success" type="submit" value="Login">
        </form>
        <br>
        Don't have account? <a class="text-right" href="/admins/register">Create new account</a>
    </div>
</div>
<script src="/js/validAdminLoginForm.js"></script>