<div class="container text-left d-flex flex-row">
    <div class="col col-md-5">
        <h4 class="text-center">Blossom Shop</h4>
        <div>Presents make by flowers bring many meaningful message from giver to lover!</div>
        <div>
            <a href="#"><span style="font-size: 3rem;"><i class="fab fa-facebook"></i></span></a>
            <a href="#"><span style="font-size: 3rem;"><i class="fab fa-github"></i></span></a>
        </div>
    </div class="col col-md-3">
    <div class="col col-md-2">
        <h4 class="text-center">Menu</h4>
        <div>
            <a href="#">
                <p>Blossoms</p>
            </a>
            <a href="#">
                <p>Blog</p>
            </a>
            <a href="#">
                <p>Contact us</p>
            </a>
        </div>
    </div>
    <div class="col col-md-5 pl-5">
        <h4 class="text-center">Contact Infomation</h4>
        <div>
            <div><span><i class="fas fa-map-marker-alt mr-5 mt-2"></i> 180 Cao Lo, Ward 4, District 8, HCMC</span></div>
            <div><span><i class="fas fa-phone mr-5 mt-2"></i> +84 164 233 215</span></div>
            <div><span><i class="fas fa-envelope mr-5 mt-2"></i> dacchi6761@gmail.com</span></div>
        </div>
    </div>
</div>