<nav>
    <div class="nav__menu">
        <span style="font-size: 2rem;"><img class="nav-item" src="/images/menu-icon.png" alt=""></span>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/flowers">Shop</a></li>
        <li style="font-size: 2rem;">&#42; BLOSSOM SHOP &#42;</li>
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/about">About us</a></li>
    </ul>
    <div class="nav__icon">
        <span style="font-size: 1.5rem;"><img class="nav-item" src="/images/search-icon.png" alt=""></span>
        <a href="/users"><span style="font-size: 1.5rem;"><img class="nav-item" src="/images/customer-icon.png"
                    alt=""></span></a>
        <span class="cartQuantity">
            <a href="/carts">
                <span style="font-size: 1.5rem;"><img class="nav-item" src="/images/cart-icon.png" alt=""></span>
            </a>
            <p><%- cartQuantity %></p>
        </span>
    </div>
</nav>