<nav>
    <div>
        <i class="fas fa-bars"></i>
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li style="font-size: 2rem;">&#42; BLOSSOM SHOP &#42;</li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About us</a></li>
    </ul>
    <div>
        <i class="fas fa-search"></i>
        <i class="far fa-user"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>
</nav>