<nav>
    <div class="nav__menu">
        <span style="font-size: 2rem;"><i class="fas fa-bars"></i></span>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li style="font-size: 2rem;">&#42; BLOSSOM SHOP &#42;</li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About us</a></li>
    </ul>
    <div class="nav__icon">
        <span style="font-size: 1.5rem;"><i class="fas fa-search"></i></span>
        <span style="font-size: 1.5rem;"><i class="far fa-user"></i></span>
        <span style="font-size: 1.5rem;"><i class="fas fa-shopping-cart"></i></span>
    </div>
</nav>