html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    scroll-behavior: smooth;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(229, 229, 299, 0.5);
}

footer a p{
    color: #29d632;
}

footer a span{
    color: black;
}

footer a:hover{
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(229, 229, 299, 0.5);
    align-items: center;
    justify-content: space-around;
}

nav ul{
    width: 60%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.7rem;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    color: black;
}

nav ul li a:hover{
    color: blue;
    text-decoration: none;
}

.banner-container{
    width: 100%;
    height: 23rem;
    background-image: url('/images/home-banner.jpg');
}

.banner-container__info a{
    background-color: #29d632;
    border-radius: 20%;
}

.cartContainer{
    box-shadow: 0px 1px 3px black;
}

.cartContainer input[type="number"]{
    color: rebeccapurple;
    border: none;
    box-shadow: 0px 1px 1px black;
    outline: none;
    width: 3rem;
}

.cartContainer img{
    width: 5em;
    height: 5em;
}

.cartContainer__name{
    margin-left: 1em;
}

.cartQuantity{
    position: relative;
}

.cartQuantity p{
    position: absolute;
    right: 0;
    top: 0.5em;
    color: red;
    font-weight: bold;
}

.flowerImage{
    width: 15rem;
    height: 15rem;
}

.head-info{
    width: 100%;
    height: 1.5rem;
    background-color: rgb(65, 151, 65);
    display: flex;
    justify-content: space-around;
}

.msg_success, .msg_error, .msg_notify{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.msg_success *{
    background-color: rgb(17, 90, 15);
    padding: 1rem;
}

.msg_error *{
    background-color: rgb(251, 24, 24);
    padding: 1rem;
}

.msg_notify *{
    background-color: rgb(31, 53, 246);
    padding: 1rem;
}

.nav__menu{
    width: 15%;
}

.nav__menu:hover{
    cursor: pointer;
}

.nav__icon{
    width: 15%;
}

.nav__icon *{
    margin: 0 0.3rem;
}

.nav__icon *:hover{
    cursor: pointer;
}

.nav__icon span{
    color: black;
}

.nav__icon span:hover{
    color: lawngreen;
}

.nav-item{
    width: 2rem;
    height: 2rem;
}

.saveCartBtn{
    cursor: context-menu;
}