html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.msg_success{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.msg_success *{
    background-color: rgb(17, 90, 15);
    padding: 1rem;
}